footer {
    margin-top: 3rem;
    background: rgba(11, 15, 20, 0.95);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.blocoTituloRedes {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blocoImgRedes {
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.blocoImgRedes img {
    width: 40px;
    filter: brightness(100%);
    transition: filter .3s ease-in-out;

}

.blocoImgRedes img:hover {
    filter:brightness(70%);
}

.blocoDireitos {
    padding: 1rem 0;
    font-size: 11px;

}