.blocoImagens {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 20vh;
}

.imagens {
    filter: brightness(100%);
    transition: filter .3s ease-in-out;
}

.imagens:hover {
    filter: brightness(70%);
}

@media (max-width: 400px) {
    .blocoImagens {

        margin: 2rem 2rem;
        height: 40vh;
    }

    #habilidaes h1 {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}