figure {
    display: flex;
}

.imagem {
    width: 80%;
    height: 70vh;
    border-radius: 250px;
    transition: .3s;
}

.imagem:hover {
    transition: .3s;
    transform: scale(1.02);
}

.secaoSobreMim {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.blocoSobreMim {
    width: 50%;
}

.textoBlocoSobre {
    color: #fff;
    font-size: 20px;
    padding-bottom: 1rem;
}

@media (min-width: 551px) and (max-width: 950px) {
    .secaoSobreMim {
        flex-direction: column;
        align-items: center;
    }

    .imagem {
        width: 40vw;
        height: 50vh;
    }

    .blocoSobreMim {
        width: 100%;
        align-items: center;
        margin: 2rem;
    }

    .textoBlocoSobre {
        text-align: center;
    }

}

@media (max-width:550px) {
    .imagem {
        display: none;
    }

    .blocoSobreMim {
        width: 100%;
        align-items: center;
        margin: 2rem;
    }

    .textoBlocoSobre {
        font-size: 19px;
        text-align: center;
    }
}