.imagem {
    width: 80%;
    height: 70vh;
    border-radius: 250px;
    transition: .3s;
}

.imagem:hover {
    transition: .3s;
    transform: scale(1.02);
}

.secaoSobreMim {
    display: flex;
    align-items: center;
    margin: 1rem;
}

.blocoSobreMim {
    width: 50%;
}

.textoBlocoSobre {
    color: #fff;
    font-size: 20px;
    padding-bottom: 1rem;
}

.sobreMimTitulo {
    color: #fff;
}